In [1]:
from pytdx.hq import TdxHq_API
from pytdx.params import TDXParams
from datetime import datetime, timedelta
import pandas as pd
import polars as pl
import os
from tqdm import tqdm

HOST = '119.147.212.81'
PORT = 7709

API_TICK_SIZE = 2000

In [2]:
api = TdxHq_API()

In [7]:
df_cn_stks = pl.read_csv('stk_list/cn_list.csv')
df_cn_stks.head()

df_cn_stks['code'] = df_cn_stks['code'].apply(lambda x: str(x).zfill(6))
df_cn_stks.head()

shape: (5, 4)
┌──────────┬──────────┬─────────────┬────────┐
│ symbol   ┆ name     ┆ tdx_api_mkt ┆ code   │
│ ---      ┆ ---      ┆ ---         ┆ ---    │
│ str      ┆ str      ┆ i64         ┆ str    │
╞══════════╪══════════╪═════════════╪════════╡
│ SZ002875 ┆ 安奈儿   ┆ 0           ┆ 002875 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ SZ002873 ┆ 新天药业 ┆ 0           ┆ 002873 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ SZ002870 ┆ 香山股份 ┆ 0           ┆ 002870 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ SZ002869 ┆ 金溢科技 ┆ 0           ┆ 002869 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ SZ002868 ┆ 绿康生化 ┆ 0           ┆ 002868 │
└──────────┴──────────┴─────────────┴────────┘

In [9]:
with api.connect(HOST, PORT):
    for i in tqdm(list(range(len(df_cn_stks[0:])))):
        mkt = df_cn_stks['tdx_api_mkt'][i]
        code = df_cn_stks['code'][i]
        
        # # manually set symbol
        # mkt = 1
        # code = '688076'

        data = api.get_security_bars(4, mkt, code, 1, 730)
        df_tmp = api.to_df(data)

        df = df_tmp[['open', 'close', 'high', 'low', 'vol', 'amount', 'datetime']]
        df = pl.DataFrame(df)
        df.to_parquet(f'cn_data_daily_bar/data/{code}.parquet')

        # break

  0%|          | 0/2024 [00:00<?, ?it/s]

- 后面干的是把日k chart 和 rvol指标拼接

In [8]:
def get(code):
    df_rvol = pl.read_parquet(f'cn_data_rvol/data_parquet/{code}.parquet')

    # df_rvol[(len(df_rvol) - 33):]

    df = pl.read_parquet(f'cn_data_daily_bar/data/{code}.parquet')
    df['rvol_30'] = df_rvol['rvol_30'][(len(df_rvol) - 33):]
    df['datetime'] = df_rvol['time'][(len(df_rvol) - 33):]

    #
    df['volume'] = df['vol'].apply(lambda x: int(x))
    df = df.drop('vol')
    #
    df['symbol'] = [code] * len(df)
    #
    df['freq'] = ['1d'] * len(df)

    # pl.read_parquet('cn_tick_intraday_data.1m.parquet')

    return df
    # df.to_parquet('.1d.parquet')

In [11]:
pl.read_parquet('cn_data_rvol/data_parquet/002732.parquet')[35:]

shape: (5, 6)
┌──────────┬─────┬─────────┬─────────┬──────┬─────────────────────┐
│ date_str ┆ vol ┆ avol_30 ┆ rvol_30 ┆ freq ┆ time                │
│ ---      ┆ --- ┆ ---     ┆ ---     ┆ ---  ┆ ---                 │
│ str      ┆ i64 ┆ f64     ┆ f64     ┆ str  ┆ datetime[μs]        │
╞══════════╪═════╪═════════╪═════════╪══════╪═════════════════════╡
│ 20221010 ┆ 714 ┆ 0.0     ┆ 0.0     ┆ 1d   ┆ 2022-10-10 00:00:00 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 20221011 ┆ 525 ┆ 0.0     ┆ 0.0     ┆ 1d   ┆ 2022-10-11 00:00:00 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 20221012 ┆ 321 ┆ 0.0     ┆ 0.0     ┆ 1d   ┆ 2022-10-12 00:00:00 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 20221013 ┆ 429 ┆ 0.0     ┆ 0.0     ┆ 1d   ┆ 2022-10-13 00:00:00 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 20221014 ┆ 624 ┆ 0.0     ┆ 0.0     ┆ 1d   ┆ 2022-10-14 00:00:00 │
└──────────┴─────┴─────────┴─────────┴──────┴─────────────────────┘

In [9]:
get('002594')

RuntimeError: Any(ShapeMisMatch("Could not horizontally stack Series. The Series length 33 differs from the DataFrame height: 730"))

In [10]:
dfs = []

for i in tqdm(list(range(len(df_cn_stks[:100])))):
    mkt = df_cn_stks['tdx_api_mkt'][i]
    code = df_cn_stks['code'][i]

    dftmp = get(code)
    dfs.append(dftmp)

pl.concat(dfs).to_parquet('cn_data_rvol/visual_output/100stks_rvol.1d.parquet')

100%|██████████| 100/100 [00:00<00:00, 2062.07it/s]